{% extends "base.html" %}

{% block style %}
<style>
	.form-inline label {
		width: 150px;
	}
	.form-inline input, .form-inline select {
		width: 300px !important;
	}
</style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0">过滤条件</h5>
			</div>
			<div class="card-body">
				<form>
					<table class="table tbquery">
						<tr>
							<td>
								<div class="input-group input-group-sm">
									<span class="input-group-text">ISBN</span>
									<input type="text" name="ISBN" class="form-control" placeholder="">
								</div>
							</td>
							<td>
								<div class="input-group input-group-sm">
									<button class="btn btn-primary form-control" type="submit"><i
											class="bi bi-search"></i> 查 询 </button>
								</div>
							</td>
						</tr>
					</table>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h5 class="card-title mb-0 float-left">库存记录汇总</h5>
				<!-- {% if session.get('is_admin') == True %}
				<a data-toggle="modal" data-target="#addcarinfo"  class="btn-sm btn-primary float-right" href="" role="button"> <i
						class="bi bi-plus-square"></i> 新增ISBN </a>
				{% endif %} -->
			</div>
			<div class="card-body">
				{% if query_result %}
				<table class="table table-striped table-bordered table-inverse" cellpadding="0" cellspacing="0">
					<thead class="thead-inverse">
						<tr class="text-center">
							<th>序号</th>
							<th>ISBN</th>
							<!-- <th>Recipient</th> -->
							<th>库存数量</th>
						</tr>
					</thead>
					<tbody>

						{% for record in query_result %}
						<tr class="text-center">
							<td>{{ loop.index }}</td>
							<td>{{ record[0] }}</td>
							<td>{{ record[1] }}</td>
							<!-- <td>{{ record[2] }}</td> -->
							<!-- {% if session.get('is_admin') == True %}
							<td>
								<a class="btn-sm btn-primary" href="/editcarinfo/{{record.id}}" role="button"><i class="bi bi-pencil-square"></i>
									编辑</a>
								<a class="btn-sm btn-danger" href="/delcar/{{record.id}}" role="button"><i class="bi bi-trash"></i> 删除</a>
							</td>
							{% endif %} -->
							
						</tr>
						{% endfor %}
					</tbody>
				</table>

				{% else %}
				<p>暂无结果返回！</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>


<!-- <div id="addcarinfo" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-title">
				<h4 class="text-center" style="margin-top:20px">新增ISBN</h4>
			</div>
			<div class="modal-body">
				<form class="form-group" action="/addcarinfo"  method="post">
					<div class="form-group form-inline">
						<label for="">ISBN </label>
						<input class="form-control" name="name" type="text" placeholder="" required>
					</div>

					<div class="form-group form-inline">
						<label for="">出版社</label>
						<input class="form-control" name="speedbox" type="text" placeholder="" required>
					</div>
					<div class="form-group form-inline">
						<label for="">作者</label>
						<input class="form-control" name="engine" type="text" placeholder="" required>
					</div>

					<div class="form-group form-inline">
						<label for="">类型方式</label>
						<select name="drivetype" id="input" class="form-control" required="required">
							<option value=""> 请选择类别 </option>
							{% for item in DRIVE_TYPE %}
							<option value="{{item}}"> {{item}}</option>
							{% endfor %}
						</select>
					</div>

					<div class="text-center">
						<button class="btn btn-primary" type="submit">提交</button>
						<button class="btn btn-danger" data-dismiss="modal">取消</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div> -->



{% endblock %}

{% block script %}
{% endblock %}